

.input1, .input2{
  height: 150px;
}

.input3 {
  height: 64px;

}

.input-field-lda, .input-field-oat, .input-field-landing-mass {
  display: flex;
  margin-top: 17px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}


.input-field-slope, .input-field-contamination, .input-field-elevation, .input-field-vw {
  display: flex;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}



.input-label-elevation{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 52px;
}

.calculate-button {
  width: 100%;
  margin-bottom: 280px;
}