/* --- START OF CSS RESET --- */
/* https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgb(40, 40, 40);
  color: white;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* --- END OF CSS RESET --- */

.header {
  height: 50px;
  width: 100%;
  background-color: rgb(21, 21, 21);
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 16px;
  padding-top: 16px;
}

.app-wrapper {
  display: flex;
}
body

.navigation-bar {
  position: absolute;
  height: 100vh;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bbb;
  padding-top: 10px;
  padding-bottom: 30px;
}

.links {
  min-height: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.link-section {
  flex-direction: column;
  background-color: #bbb;
  border-top: 2px solid rgb(87, 87, 87);
  border-bottom: 2px solid rgb(87, 87, 87);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 5px;
  transition: background-color 0.2s;
}

.link-section:hover {
  background-color:#e4e4e4;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.interface {
  position: absolute;
  top: 50px;
  left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

.label-area {
  position: absolute;
  top: -24px;
  left: -2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 3px;
  height: 40px;
  background-color: grey;
  font-size: 14px;
  border-left: solid 2px white;
  border-top: solid 2px white;
  border-right: solid 2px white;
  border-bottom: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: -1;
}

.label-area-right {
  position: absolute;
  top: -24px;
  right: -2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 3px;
  height: 40px;
  background-color: grey;
  font-size: 14px;
  border-left: solid 2px white;
  border-top: solid 2px white;
  border-right: solid 2px white;
  border-bottom: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: -1;
}


.input1, .input2, .input3, .output1, .output2, .output {
  position: relative;
  border: solid 2px white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: grey;
  
}

.input1:hover, .input2:hover, .input3:hover{
  background-color: rgb(170, 170, 170);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.25);
}

.input1, .input2, .input3{
  transition: box-shadow 0.2s, background-color 0.2s;
}

.input-label {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px; 
}

.drop-down-label {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px; 
}


.result {
  margin: 17px;
  height: 28px;
  border-radius: 14px;
  background-color: lightgrey;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.result-right {
  margin: 17px;
  height: 28px;
  border-radius: 14px;
  background-color: lightgrey;
  padding-top: 6px;
  padding-right: 20px;
  padding-left: 20px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.split-results {
  display: flex;
  justify-content: space-between;
}



.calculate-button {
  height: 26px;
  border: none;
  border-radius: 13px;
  transition: background-color 0.15s;
  width: 100%; 
}

.calculate-button:hover{
  cursor: pointer;
  background-color: rgb(190, 190, 190);
  color: #414141;
}

.text-input, .drop-down-input {
  border-radius: 12px;
  border: solid 1px grey;
  height: 24px;
}

.drop-down-input {
  padding-left: 12px;
  margin-left: 24px;
}

.drop-down-input:hover {
  cursor: pointer;
}

.text-input {
  flex: 1;
  padding-left: 12px;
  margin-left: 20px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.1);
}

.input-range {
  padding-top: 4px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
}

.runway-analysis {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 30px;
  padding-left: 50px;
  padding-top: 30px;
  height: 200px;
  position: relative;
  border: solid 2px white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;;
  background-color: grey;
}

.input-section, .output-section {
  border-bottom-left-radius: 8px;
}
