.input-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 30px;
  margin-top: 54px;
  margin-bottom: 30px;
  column-gap: 30px;
  height: 266px;
  border-bottom: 2px solid white;
}

.output-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 54px;
  column-gap: 30px;
  border-bottom: 2px solid white;
  padding-bottom: 30px;
  padding-top: 24px;
  margin-left: 30px;
  margin-bottom: 54px;
}


.right-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 236px;
}



.input1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 236px;
  flex: 1;
}

.input2 {
  height: 150px;
  flex: 1;
}

.input3 {
  height: 64px;
}

.runway {
  position: relative;
  display: flex;
  align-items: center;
  border-left: 1px solid rgb(67, 67, 67);
}

.tora {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 600px;
  background-color: black;
  border: 2px solid white;
  height: 50px;
}

.tora-value {
  position: absolute;
  top: -18px;
  right: 4px;
}

.stopway {
  position: absolute;
  top: 18px;
  left: -2px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(194, 121, 132);
  height: 50px;
  width: 0;
  transition: width 0.5s;
  border: 2px solid rgb(127, 72, 80);
}

.clearway {
  position: relative;
  width: 0;
  transition: width 0.5s;
  height: 90px;
  background-color: rgb(199, 199, 112);
  border: 2px solid rgb(152, 152, 86);
}

.clearway-value {
  position: absolute;
  top: -18px;
  white-space: nowrap;
}

.stopway-value {
  position: absolute;
  bottom: -18px;
  white-space: nowrap;
}

.runway-value {
  white-space: nowrap;
}

.to-distance, .as-distance {
  display: flex;
  padding-top: 4px;
  padding-left: 4px;
  justify-content: left;
  height: 24px;
  border-left: 2px solid white;
  transition: width 0.5s;
}

.to-distance {
  width: 0;
  background-color: rgb(130, 175, 130);
  border: 1px solid rgb(78, 104, 78);
}

.as-distance {
  width: 0;
  background-color: rgb(239, 158, 158);
  border: 1px solid rgb(143, 96, 96);
}

.fr-distance {
  display: flex;
  padding-top: 4px;
  padding-left: 4px;
  justify-content: left;
  position: relative;
  left: -2px;
  height: 24px;
  background-color: rgb(97, 139, 253);
  opacity: 0.5;
  border: 1px solid rgb(73, 103, 183);
  width: 0;
  transition: width 0.5s;
  white-space: nowrap;

}

.input-label-rp, .drop-down-label-rp {
  width: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}








