

.input1 {
  height: 236px;
}

.input2 {
  height: 150px;
}

.input3 {
  height: 64px;

}

.input-field-tora, .input-field-oat, .input-field-take-off-mass {
  display: flex;
  margin-top: 17px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.input-field-toda, .input-field-asda, .input-field-slope, .input-field-contamination, .input-field-elevation, .input-field-vw {
  display: flex;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.input-label-elevation{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 52px;
}

.output3, .output4 {
  position: relative;
  border: solid 2px white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;;
  background-color: grey;
}

.calculate-button {
  width: 100%;
  margin-bottom: 168px;
}


